.card-custom {
  background-color: var(--color-secundario) !important;
  display: flex;
  flex-direction: column;
  height: 100%;

  .clamp-tittle {
    color: var(--color-claro);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .clamp-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-claro);
    margin-bottom: 1rem;
  }

  .clamp-image {
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
    border-radius: 5px;

    &:hover {
      transform: scale(1.05);
      border-color: var(--color-primario);
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      margin-top: auto;
      padding-top: 1rem;

      .view,
      .toggle,
      .edit {

        &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease;
        }
      }

      .view,
      .toggle {
        color: var(--color-claro);

        &:hover {
          color: var(--color-primario) !important;
        }
      }

      .edit {
        color: var(--color-primario) !important;

        &:hover {
          color: var(--color-claro) !important;
        }

        &:focus:not(.active) {
          color: var(--color-primario) !important;
        }
      }

      .toggle:hover {
        color: var(--color-claro) !important;
      }
    }
  }
}