.editModal {
  .modal-header {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    border-bottom: 3px solid var(--color-primario);

    .modal-title {
      font-size: 1.5rem;
      font-weight: bold !important;
    }
  }

  .modal-body {
    padding: 20px;
    color: var(--color-oscuro);
    strong {
      color: var(--color-oscuro) !important;
    }

    .form-label {
      font-weight: bold;
      color: var(--color-secundario);
    }

    img {
      max-width: 100%;
      max-height: 300px;
      display: block;
      margin-bottom: 10px;
      border: 2px solid var(--color-oscuro);
      border-radius: 4px;
    }

    .form-control,
    .textarea-edit-modal,
    .edit-modal-date-input,
    .edit-modal-select-input {
      background-color: var(--color-claro);
      color: var(--color-oscuro);
      border: 1px solid var(--color-oscuro);
    }

    .textarea-edit-modal:focus {
      border: 1px solid var(--color-primario);
      box-shadow: 0 0 5px var(--color-primario);
    }

    .edit-modal-select-input {
      &:focus {
        border: 1px solid var(--color-primario);
        box-shadow: 0 0 5px var(--color-primario);
      }

      option {
        background-color: var(--color-claro);
        color: var(--color-oscuro);
        transition: all 0.3s ease;
          transform: translateY(-2px);
        &:checked {
          background-color: var(--color-secundario);
          color: white;
          
        }
      }
    }
  }

  .modal-footer {
    background-color: var(--color-oscuro);
    border-top: 3px solid var(--color-primario);

    .btn-primary {
      background-color: var(--color-secundario) !important;
      color: var(--color-claro);
      font-weight: bold;

      &:hover {
        background-color: var(--color-secundario);
        box-shadow: 0 0 10px var(--color-primario);
        color: var(--color-oscuro);
        border-radius: 5px;
        font-weight: semibold;
        transition: all 0.3s ease;
        transform: translateY(-2px);
      }
    }

    .btn-secondary {
      background-color: var(--color-claro) !important;
      color: var(--color-oscuro) !important;
      font-weight: bold;

      &:hover {
        background-color: var(--color-claro);
        box-shadow: 0 0 10px var(--color-primario) !important;
        color: var(--color-oscuro);
        border-radius: 5px;
        font-weight: semibold;
        transition: all 0.3s ease;
        transform: translateY(-2px);
      }
    }
  }
}