.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-claro);
  background-image: linear-gradient(135deg, var(--color-claro) 0%, var(--color-claro) 100%);

  /* Estilos específicos para los inputs de MDB */
  .form-outline .form-control {
    padding: 12px 15px !important;
    height: auto !important;
    font-size: 1rem !important;
    opacity: 1 !important;
    transition: all 0.3s ease !important;

    &:hover {
      border-color: var(--color-secundario) !important;
      box-shadow: 0 0 0 2px rgba(var(--color-secundario), 0.15) !important;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 2px rgba(var(--color-secundario), 0.15) !important;
      outline: none !important;
    }

    &::placeholder {
      color: var(--color-oscuro) !important;
      opacity: 1 !important;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 30px var(--color-claro) inset !important;
      -webkit-text-fill-color: var(--color-oscuro) !important;
    }
  }

  .login-button {
    background-color: var(--color-primario) !important;
    border-color: var(--color-secundario) !important;
    color: var(--color-oscuro) !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 9px -4px var(--color-primario) !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
      transform: translateY(-2px);
      color: var(--color-claro) !important;
      box-shadow: 0 6px 12px -4px var(--color-secundario) !important;
    }
  }
  .btn-link{
    color: var(--color-oscuro) !important;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
      transform: translateY(-2px);
      color: var(--color-secundario) !important;
    }
  }

  label {
    &::after {
      content: "*";
      color: red;
    }
    &::before {
      content: "*";
      color: red;
    }
    &:hover {
      transform: translateY(-2px);
      color: var(--color-secundario) !important;
    }
  }

  .login-link {
    color: var(--color-secundario) !important;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out !important;

    &:hover {
      transform: translateY(-2px);
      color: var(--color-secundario) !important;
    }
  }

}

/* Animación para el formulario */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}