.modal-editar-permisos {
  .permiso-item {
    /* Centra mejor el checkbox si quieres */
    text-align: center;
  }
}

.modal-ver-generico {
  img {
    max-height: 300px;
    object-fit: cover;
    border: 2px solid var(--color-oscuro);
    border-radius: 5px;
  }
}