
<span class="text-lg font-bold text-gray-800 mb-4"><br></span>
<a href="index.html"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500">Inicio</a>
<li class="relative group">
    <a href="#"
        class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
        id="objetivos-sidebar-link">Objetivos</a>
    <!-- Submenú desplegable -->
    <ul class="absolute right-[20px] hidden  bg-white text-[#222831] shadow-lg z-50"
        id="submenu-objetivos-sidebar">
        <li>
            <a href="#" id="general-link-sidebar"
                class="block my-2 px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500 hover:text-white">General</a>
        </li>
        <li>
            <a href="#" id="especifico-link-sidebar"
                class="block my-2 px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500 hover:text-white">Especifico</a>
        </li>
    </ul>
</li>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="situacion_problema-link-sidebar">Situacion Problema</a>

<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="introduccion-link-sidebar">Introducción</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="abstract-link-sidebar">Abstract</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="descripcion-link-sidebar">Descripción</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="caracteristicas_principales-link-sidebar">Características principales</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="principal-aplicativo-link-sidebar">Objetivo principal del aplicativo</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="justificacion-link-sidebar">Justificación</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="antecedentes-link-sidebar">Antecedentes</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="alcance-link-sidebar">Alcance</a>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="impacto-link-sidebar">Impacto</a>
<li>
    <a href="#"
        class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
        id="beneficios-sidebar-link">Beneficios</a>
</li>
<a href="#"
    class="flex items-center my-2 text-white px-4 transition-all duration-300 transform hover:scale-110 hover:bg-green-500"
    id="recomendaciones-adicionales-link-sidebar">Recomendaciones adicionales</a>
